--------------------------------------------------------
Free Agent Request
--------------------------------------------------------

Submitted By: <%= @request.name %>
Reply To: <a mailto:"<%= @request.email %>"><%= @request.email %></a>
Phone: <%= @request.phone%>

Position: <%= @request.position %>
Evaluation: <%= @request.evaluation_session %>

Hockey Bio: 

<%= @request.game_date %>

--------------------------------------------------------
Submitted online at oceansideicearena.net
--------------------------------------------------------