<h3>New Referee Request</h3>
<%= semantic_form_for @referee_request do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :email %>
    <%= form.input :team_name %>
    <%= form.input :team_level %>
    <%= form.input :game_date %>
    <%= form.input :game_time %>
    <%= form.input :game_location, :as => :select, :collection => @location_options %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
