<h3>New Referee Request</h3>
<p>
  PLEASE NOTE: A separate referee request must be made for each game you are scheduling. 
  Be sure to complete each of the fields below accurately. 
  You will receive an emailed response within 48 hours from the Phoenix Ice Hockey Referees Association with a confirmation of your scheduled game. If you need immediate assistance please email refs@dyha.org.
</p> 
<%= semantic_form_for @referee_request do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :email %>
    <%= form.input :team_name %>
    <%= form.input :team_level %>
    <%= form.input :game_date %>
    <%= form.input :game_time %>
    <%= form.input :game_location, :as => :select, :collection => @location_options %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
