<h3>New Check Request</h3>
<ul class="square">
  <li>Checks will be issued within 10 business days.</li>
  <li>Receipts must be  for verification.  Please email them to checkrequest@dyha.org after submitting the online form.</li>
  <li>Upon submittal you shall receive a confirmation email with further instructions.</li>
  <li>Be sure to complete each of the fields below accurately.</li> 
  <li>If you need assistance please email jacque.gomez@dyha.org</li>
</ul> 
<%= semantic_form_for @check_request do |form| %>
  <%= form.inputs do %>
    <%= form.input :first %>
	<%= form.input :last %>
    <%= form.input :email %>
    <%= form.input :phone_number %>
    <%= form.input :team_name %>
    <%= form.input :team_level %>
    <%= form.input :date_needed %>
    <%= form.input :team_expense, :as => :radio, :collection => %w{Yes No} %>
    <%= form.input :amount %>
    <%= form.input :payable_to %>
    <%= form.input :delivery_method, :as => :radio, :collection => ["Pick up at Oceanside", "Mail it please"] %>
    <%= form.input :mailing_address, :as => :text, :input_html => { :rows => 4, :style => 'width: 450px;' } %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>
